body {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #313136;
}
#game-window {
    margin: 0 auto 0 auto;
    width: 800px;
    padding: 0px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    body {
        padding: 0;
    }
}
